<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div class="container">

        <div class="SlideContainer SlideContainer-js">

            <!-- next and previous buttons -->
            <div class="Slide-Btn">
                <button class="Slide-Btn-left Slide-Btn-left-js"><img src="image/left-arrow.svg"
                        alt="left arrow button for slide"></button>
                <button class="Slide-Btn-right Slide-Btn-right-js"><img src="image/right-arrow.svg"
                        alt="right arrow button for slide"></button>
            </div>

            <!-- Slide container  -->
            <ul class="Slide">

                <!-- Slides -->
                <li class="Slide-Item Slide-Item-js">
                    <img class="Slide-img" src="image/slide-0.svg" alt="">
                </li>
                <li class="Slide-Item Slide-Item-js">
                    <img class="Slide-img" src="image/slide-1.svg" alt="">
                </li>
                <li class="Slide-Item Slide-Item-js">
                    <img class="Slide-img" src="image/slide-2.svg" alt="">
                </li>
                <li class="Slide-Item Slide-Item-js">
                    <img class="Slide-img" src="image/slide-3.svg" alt="">
                </li>
                <li class="Slide-Item Slide-Item-js">
                    <img class="Slide-img" src="image/slide-4.svg" alt="">
                </li>

                <!-- add more Slides using <li> tag -->
            </ul>
        </div>

    </div>


    <script src="index.js"></script>
</body>

</html>