* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
  &:focus {
    outline: none;
  }
}

body {
  font-weight: 500;
  font-family: 'Spartan', sans-serif;
  height: 1000px;
}

.fixed-container-sm {
  position: fixed;
  width: 100%;
  background-color: #2e2e2e;

  @media (min-width: 786px) {
    position: static;
  }
  transition: 400ms ease-out;
}

.nav {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }

  &-heading {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    
    @media (min-width: 768px) {
      margin-right: 3rem;
    }
  }

  &-links {
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 0%;
    justify-content: center;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: 400ms ease-out;
    z-index: 98;
    background-color: white;

    @media (min-width: 768px) {
      display: flex;
      position: static;
      width: 100%;
      justify-content: flex-start;
      background-color: rgba(255, 255, 255, 0);
    }
  }

  &-links-width {
    width: 100%;
  }
  
  &-item {
    text-decoration: none;
    font-size: .85rem;
    padding: .7rem;
    position: relative;
    color: #2e2e2e;
    
    @media (min-width: 768px) {
      color: white;
      padding: 1rem;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      margin: auto;
      height: 2px;
      background-color: #2e2e2e;
      margin-top: .2rem;
      transition: 300ms;
      left: 0;
      
      @media (min-width: 768px) {
        background-color: white; 
      }
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.AnimatedBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 0;
  z-index: 99;

  @media (min-width: 768px) {
    display: none;
  }

  &-TopActive,
  &-MiddleActive,
  &-BottomActive {
    background-color: #2e2e2e;
  }
}
