<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="animated-hamburgur-btn (com)/index.css">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>

<body>

  <div class="fixed-container-sm">
    <nav class="nav">
      <button class="AnimatedBtn">
        <span class="AnimatedBtn-Top"></span>
        <span class="AnimatedBtn-Middle"></span>
        <span class="AnimatedBtn-Bottom"></span>
        <div class="AnimatedBtn-Cover"></div>
      </button>
      <a href="/" class="nav-heading">room</a>
      <div class="nav-links">
        <a href="#" class="nav-item">home</a>
        <a href="#" class="nav-item">about</a>
        <a href="#" class="nav-item">shop</a>
        <a href="#" class="nav-item">contact</a>
      </div>
    </nav>
  </div>

  <script src="index.js"></script>
  <script src="animated-hamburgur-btn (com)/index.js"></script>
</body>

</html>